<h1> Edit Idea </h1>
<%= simple_form_for @idea do |f| %>
<%= f.input :title, required: false, label_html: { class: 'abc' } %>
<%= f.input :description, required: false, label_html: { class: 'abc' } %>
<%= f.submit class: 'btn btn-primary' %>
<% end %>
