<% @ideas.each do |idea| %>
<div>
  <h5>Title: <%= link_to idea.title,idea_path(idea) %></h5>
  <p><strong> Description: </strong> <%= idea.description %> </p>
  <small><%= time_ago_in_words(idea.created_at) %> ago</small>
  <br>
  <small> By: <%= idea.user.full_name %> </small>
</div>
    <hr>
<% end %>
