<h1>My Profile </h1>
<hr/>

<h2>My Ideas </h2>
<% if @my_ideas.count == 0 %>
<p> <strong>You haven't added any idea yet</strong> </p>
<%= link_to 'Add the first one',new_idea_path %>
<% else %>
<% @my_ideas.each do |mi| %>
<ul>
<li>Title: <%= link_to mi.title,idea_path(mi) %></li>
</ul>
<hr/>
<% end %>
<% end %>
<h2>My Scraps </h2>
<% if @my_scraps.count == 0 %>
<p> You haven't created an Scrap post yet </p>
<%= link_to 'Add the first one',new_scrap_path %>
<% else %>
<% @my_scraps.each do |ms| %>
<ul>
<li><strong>Title:</strong> <%= link_to ms.title,scrap_path(ms),class:"card-title" %></li>
</ul>
<hr/>
<% end %>
<% end %>
