<div class="container">
  <div class="row">
    <% @scraps.each do |scrap|  %>
    <div class="card col-3 m-2" style="width: 18rem;">
      <img class="card-img-top" src="<%=scrap.image%>" alt="Card image cap">
      <div class="card-body">
        <h5><%= link_to scrap.title,scrap_path(scrap),class:"card-title" %></h5>
        <br>
        <h6>  <%= scrap.description %></h6>
      </div>
    </div>
  <% end %>
  </div>
</div>
