/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "scraps";

body {
  background-color: #e9ecef;
}

body {
    // overflow: hidden;
    height: 100%;
}

body {
    padding-top: 50px;
}

#weird{
  background-color: #343a40 ;
}

#navBar{
 margin-bottom: 0px !important;
}
h1{
  font-family: PT Sans;
  color:#343a40;
}
h3{
  font-family: Kanit;
  color:#343a40;
}
h5 {
  font-family: PT Sans Narrow;
}
#right{
  font-family: PT Sans;
  font-size: 14px;
}
