#AddIdeaTitle{
  color:white;
  padding-top: 10px;
}
#AddIdeaDescription{
  color:white;
}
#AddIdeaSubmit{
  color:black;
  border:white;
  padding-bottom: 7px;
  background-color: #D3D3D3;
  font-style: italic;
  font-weight: bold;
}
#boba{
  padding-top: 10px;
}
body{
  background-color:black;
}
#headingOne{
  // background-color: #383838;
}
#ShowIdeasContainer{
  padding-top: 30px;
}
#AddCommentIdea{

}
#BodyCommentIdea{
  width:100px;
  height: 100px;
}
#new_ideascomment{
  width: 350px;
  border: inset #343a40;
  border-width: 11px;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
}
