#AddIdeaTitle{
  color:white;
  padding-top: 10px;
}
#AddIdeaDescription{
  color:white;
}
#AddIdeaSubmit{
  color:black;
  border:white;
  padding-bottom: 7px;
  background-color: #D3D3D3;
  font-style: italic;
  font-weight: bold;
}
#boba{
  padding-top: 10px;
}
body{
  background-color:black;
}
#headingOne{
  // background-color: #383838;
}
#BodyCommentScrap{
  
}
