// Place all the styles related to the scraps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0px;
  // font-family: 'Cedarville Cursive', cursive;
}
div#background {
  height: 700px;
  width: 100%;
  // background-image: url(http://garchitecture.ca/php/images/headers/wood.jpg);
  padding-top: 20px;
}
div#gallery {
  width: 800px;
  margin: auto;
}
#background img {
  height: 150px;
  margin: 0px;
}
#background figure {
  float: left;
  position: relative;
  background-color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 2px 3px black;
}
figure.pic1 {
  -webkit-transform : rotate(-10deg);
  z-index: 1;
}
figure.pic2 {
  -webkit-transform : rotate(15deg);
  z-index: 2;
}
figure.pic3 {
  -webkit-transform : rotate(-25deg);
  z-index: 1;
}
figure.pic4 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}
figure.pic5 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}
figure.pic6 {
  -webkit-transform : rotate(-8deg);
  z-index:1;
}
figure.pic7 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}
figure.pic8 {
  -webkit-transform : rotate(-13deg);
  z-index:1;
}
figure.pic9 {
  -webkit-transform : rotate(-7deg);
  z-index:1;
}
figure.pic10 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}
figure.pic11 {
 -webkit-transform : rotate(-3deg);
  z-index:1;
}
#background figure:hover {
  box-shadow: 5px 10px 100px black;
  -webkit-transform: scale(1.1,1.1);
  z-index: 20;
}
#scrapimage{
  border-radius: 200px;
  box-shadow: 10px 10px 10px 10px grey
}
#ShowSracpsContainer{
  padding-top: 40px;
  padding-bottom:50px;
}
#EditScrapComment{
  width:150px;
}
#DeletetScrapComment{
  width:150px;
}
#AddCommentScrap{
  width: 200px;
}
#ScrapCommentsContainer{
  padding-left: 10px;
}
#BodyCommentScrap{
  width:100px;
  height: 100px;
}
#new_scrapscomment{
  width: 350px;
  border: inset #343a40;
  border-width: 11px;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
}
#ScrapCommentsTitle{
  font-family: El Messiri
}
